Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
a ="Pratham"
b=[12,34,"Lute",2.4]
c=12.456
d=(1,2,5,7)

In [3]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [1]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
a=2
b=4
#for '/'
c = a/b
print(c)
    
#for '%'
d =a % b
print(d)

#for '//'
e = a // b
print(e)

# for '**'
f = a ** b
print(f)

0.5
2
0
16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [7]:
list = ["Hello",2,2.34,'pratham',True,43,[1,2,3],{'Name' : 'Pratham'},None,7.20]
for i in list:
    print(f"{i} -: Datatype -: {type(i)}")

Hello -: Datatype -: <class 'str'>
2 -: Datatype -: <class 'int'>
2.34 -: Datatype -: <class 'float'>
pratham -: Datatype -: <class 'str'>
True -: Datatype -: <class 'bool'>
43 -: Datatype -: <class 'int'>
[1, 2, 3] -: Datatype -: <class 'list'>
{'Name': 'Pratham'} -: Datatype -: <class 'dict'>
None -: Datatype -: <class 'NoneType'>
7.2 -: Datatype -: <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [8]:
def is_divisible(a,b):
    count = 0
    while a % b == 0:
        count += 1
        a //= b
    return count
    
a = int(input("Enter the first number :"))
b = int(input("Enter the second number :"))
 
number_of_times_divisible = is_divisible(a , b)

if number_of_times_divisible > 0 :
    print(f" The number {a} is divisible by {b} , {number_of_times_divisible} times. ")
els
    print(f" The number {a} is not divisible by {b}. ")

Enter the first number : 12
Enter the second number : 3

 The number 12 is divisible by 3 , 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [11]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,]
for num in num :
    if num % 3 == 0 :
        print (f"{num} is divisible by 3")
else:
    print (f"{num} is not divisible by 3 ")

3 is divisible by 3
6 is divisible by 3
9 is divisible by 3
12 is divisible by 3
15 is divisible by 3
18 is divisible by 3
21 is divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [13]:
#mutable 
mylist = [11,12,13]
print(mylist)
mylist[0] = 15
print(mylist)

[11, 12, 13]
[15, 12, 13]

In [14]:
#immutable

mystr = 'pratham'
mystr[2] = 'i'
print(mystr)

TypeError: 'str' object does not support item assignment